*{
    margin: 0px;
}
#fast-img{
    width: 1370px;
    height: 600px;

}

#fast-h1{
    position: absolute;
    top: 30%;
    width: 85%;
    text-align: right;
    font-size: 40px; 
    font:bold ;

}
#fast-pragraf{
    position: absolute;
    width: 85%;
    top:55% ;
    text-align: right;
    font-size:20px ;
    padding-top: 20px;
   
}
  /*c Contact Us
 button  */
#fast-button{
    position: absolute;
    top: 80%;
    right: 200px;
    font-size: 30px; 
    background-color:orangered;
    width: auto;
     height: 70px;
     border: none;
     border-radius: 8px;


/* main-div-2nd */
}
#main-div-2nd{
    display: flex;
    margin-top: 150px;
    gap: 100px;
    margin:150px ;
    padding: 15px;
}

#person{
    height:480px t;
    width:480px ;

}
#secend-h1{
    margin-top: 180px;
    font-size: 40px;
   
}
#secend-pragraf{
    margin-top: 15px;
    font-size: 20px; 

}
ul{
    margin-top: 15px;
    list-style:none;
}
li{
    margin-top: 8px;
    font-size:18px ;
   
}

#child-div{
    margin-top: 80px;
}
#third-div{
   display: flex;
   justify-content: center;
   gap:80px;
   text-align: center;
  
}
.third-child-div{
    margin-left: 20px;
}
#third-h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
}
    .my-plan-h3{

        margin-top: 12px;
        font-size: 23px;
    }

#fourt-div{
    background:linear-gradient(#f5080860,rgba(0, 128, 0, 0.445)) ,url(images/watch.png);
    height: 245px;
    width: 1000px;
    margin-top: 110px;
    margin-left: 180px;
    border-radius: 15px;
}
#secend-button{
    font-size: 25px;
    width:120px;
    height: 50px;
    margin-left: 40px;
    border: none;
    border-radius: 8px;
    font-family:sans-serif;
    color: rgb(247, 40, 13);

}
#fourth-div-h1{
    font-size: 40px;
    padding: 20px;
    margin-left: 30px;
}
/*  last div    */
#last-div{
    color: gainsboro;
    display: flex;
    margin-top: 110px;
    gap: 50px;
    
}
#last-div-main{
    width: auto;
    height:420px ;
    background-color: rgba(0, 0, 0, 0.884);
    
}
.last-h1{
    margin-top: 100px;
    font-size:35px ;
}
.last-pragraf{
    margin-top: 20px;
    font-size: 17px;
}
.ancor{
    margin-top: 25px;
    width: 45px;
    height:45px ;
    margin-left: 10px;
}
#last{
    margin-left: 200px;
}
#last1{
    margin-left: 250px;
}
#email{
    margin-top: 20px;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 8px;
    


}
#last-button{
    height: 50px;
    width: 140px;
    margin-top: 30px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    color: rgb(253, 28, 28);
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

















